<!-- start breadcrumbs -->
         <section id="sp-breadcrumbs">
            <div class="container">
               <div class="row">
                  <div id="sp-breadcrumb" class="col-sm-12 col-md-12">
                     <div class="sp-column ">
                        <div class="sp-module ">
                           <div class="sp-module-content">
                              <div class="lan_page_title">
                                 <span>About Us</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end breadcrumbs -->
         <!-- start main body -->
         <section id="sp-main-body">
            <div class="row">
               <div id="sp-component" class="col-sm-12 col-md-12">
                  <div class="sp-column ">
                     <div id="system-message-container">
                     </div>
                     <div id="sp-page-builder" class="sp-page-builder  page-8">
                        <div class="page-content">
                           <section class="sppb-section " style="padding:35px 0 55px 0;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-6">
                                       <div class="sppb-addon-container sppb-wow fadeInUp" data-sppb-wow-duration="300ms">
                                          <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                                             <h3 class="sppb-addon-title">Our History</h3>
                                             <div class="sppb-addon-content">Lorem ipsum dolor sit amet, dolore tritani eu qui. Has cu fugit delectus. Duo eros eligendi voluptatum an, usu et quot audire consectetuer, per viris dolorum no. Detraxit vituperata mea ei, ea pri impetus deserunt pertinax. Volutpat persecuti mel ex. Per te tantas libris tamquam. Inimicus maluisset quo ne, mei an inani zril. Has dicam indoctum complectitur et, vix oratio placerat ea, eu pro enim appetere. Ea solet tollit offendit vim, at ludus aperiam deseruisse est. Sint vivendo ne mea, eos cu dolore mentitum, ea eos voluptaria reformidans liberavisse.</div>
                                          </div>
                                          <div class="sppb-empty-space  clearfix" style="margin-bottom:20px;"></div>
                                       </div>
                                    </div>
                                    <div class="sppb-col-sm-6">
                                       <div class="sppb-addon-container sppb-wow fadeInUp">
                                          <div class="sppb-empty-space  clearfix" style="margin-bottom:20px;"></div>
                                          <div class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                             <div class="sppb-addon-content"><img class="sppb-img-responsive" src="about us.jpg" alt=""></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>

