/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*

*= require bootstrap.min



*= require preset1

*= require redactor-rails
*= redactor-rails/plugins


*= require_tree .
*= stub scaffolds
*= stub styles_2
*= stub styles
*= require_self
*/

.ns2-title {
	margin-top: 10px;
	margin-bottom: 10px;

}

.lan_page_title a {
	color: #fff;
}