.textarea{
	  width: 400px;
  	height: 100px;
    width: 40%;
  	

}

.form-center-email{
	margin: auto;
	width: 90%;
	padding: 40px;

    
}

.email-charity-img {
  width: 510px;
  height: 460px; 
  margin-left: 550px;
  margin-top: -400px;
  margin-bottom: 20px;

}


.wrapper {
  width: 100%;
  max-width: 80rem;
}