.show-text div{
	font-size: 18px;
	color: #4d4d4d;
	font-family: 'Proxima-nova';
	padding-bottom: 35px;
	line-height: 29px;
	width: 95%;
	max-width: 80rem;
	
	

}

.title-show div{
	margin: 0;
	padding-top: 35px;
	padding-left: 10px;
}

.wrapper {
	padding: 5rem;
	
}

.itemImage {
	padding-left: 15px;
	width: 100%;
	max-width: 80rem;
	


}

.title-show{
	padding-left: 15px;	
}