.show-text div{
	font-size: 18px;
	color: #4d4d4d;
	font-family: 'Proxima-nova';
	padding-bottom: 35px;
	line-height: 29px;
	width: 89.5%;

}

.title-show div{
	margin: 0;
	padding-top: 35px;
	padding-left: 10px;
}


img {
	max-width: 100%;
	height: auto;
}