<section id="sp-breadcrumbs">
    <div class="container">
       <div class="row">
          <div id="sp-breadcrumb" class="col-sm-12 col-md-12">
             <div class="sp-column ">
                <div class="sp-module ">
                   <div class="sp-module-content">
                      <div class="lan_page_title">
                         <span>Свяжитесь с нами</span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</section>
<div class="container">
  <div class="wrapper">
      <div class="form-center-email">
    	 <%= render 'form' %>
      </div>

      <div class="email-charity-img">
       <img src="/email-charity.png"/>
      </div>
    </div>
</div>

