<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
   <head>
    <%= csrf_meta_tags %>

    
      <!-- meta -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="generator" content="" />
      <!-- title -->
      <title>Grant | Home</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application'  %>
      <!-- favicon -->      
   </head>
   <body class="site com-sppagebuilder view-page no-layout no-task itemid-437 en-gb ltr  sticky-header layout-fluid">
      <div class="body-innerwrapper">
         <!-- start top bar -->
         <section id="sp-top-bar">
            <div class="container">
               <div class="row">
                  <div  class="col-sm-6 col-md-6">
                     <div class="sp-column ">
                        <ul class="social-icons">
                           <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
                           <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div id="sp-top2" class="col-sm-6 col-md-6">
                     <div class="sp-column ">
                        <ul class="sp-contact-info">
                           <li class="sp-contact-phone"><i class="fa fa-phone"></i> +228 872 4444</li>
                           <li class="sp-contact-email"><i class="fa fa-envelope"></i> <a href="mailto:contact@email.com">contact@email.com</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end top bar -->
         <!-- start header -->
         <header id="sp-header">
            <div class="container">
               <div class="row">
                  <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                     <div class="sp-column ">
                        <a class="logo" href="index.html">
                           <!-- <h1><img class="sp-default-logo" src="/noimage.jpg" alt="Grant"><img class="sp-retina-logo" src="/noimage.jpg" alt="Grant" width="111" height="43"></h1> -->
                           <h1>Todo</h1>
                        </a>
                     </div>
                  </div>
                  <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                     <div class="sp-column ">
                        <div class='sp-megamenu-wrapper'>
                           <a id="offcanvas-toggler" href="#"><i class="fa fa-bars"></i></a>
                           <ul class="sp-megamenu-parent menu-fade-up hidden-xs">
                              <li class="sp-menu-item sp-has-child">
                                 <a href="index-2.html">Home</a>
                                 <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                                    <div class="sp-dropdown-inner">
                                       <ul class="sp-dropdown-items">
                                          <li class="sp-menu-item"><a href="business.html">Business  View</a></li>
                                          <li class="sp-menu-item"><a href="corporate.html">Corporate View</a></li>
                                          <li class="sp-menu-item"><a href="creative.html">Creative View</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </li>
                              <li class="sp-menu-item"><a href="project.html">News</a></li>
                              <li class="sp-menu-item"><a href="donate.html">About</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header -->
         <!-- start page title -->
         <section id="sp-page-title">
            <div class="row">
               <div id="sp-title" class="col-sm-12 col-md-12">
                  <div class="sp-column "></div>
               </div>
            </div>
         </section>
         <!-- end page title -->
         <!-- start main body -->
         <section id="sp-main-body">
            <div class="row">
               <div id="sp-component" class="col-sm-12 col-md-12">
                  <div class="sp-column ">
                     <div id="system-message-container">
                     </div>
                     <div id="sp-page-builder" class="sp-page-builder  page-7">
                        <div class="page-content">
                           <section class="sppb-section" style="background-color:#ffffff;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-12">
                                       <div class="sppb-addon-container" style="">
                                          <div class="sppb-addon sppb-addon-module ">
                                             <div class="sppb-addon-content">
                                                <!-- START REVOLUTION SLIDER 4.3.6 b3 fullwidth mode -->
                                                <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:530px;">
                                                   <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:530px;height:530;">
                                                      <ul>
                                                         <!-- SLIDE  -->
                                                         <li data-transition="random-premium" data-slotamount="7" data-masterspeed="300" data-fstransition="notselectable1" data-fsmasterspeed="300" data-fsslotamount="7">
                                                            <!-- MAIN IMAGE -->
                                                            <img src="/orphan-1139042_960_720.jpg" alt="slide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                            <!-- LAYERS -->
                                                            <!-- LAYER NR. 1 -->
                                                            <div class="tp-caption large_bold_white sfl tp-resizeme" data-x="0" data-y="150" data-speed="800" data-start="500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">This is my very own slide
                                                            </div>
                                                            <!-- LAYER NR. 2 -->
                                                            <div class="tp-caption medium_light_white sfr tp-resizeme" data-x="0" data-y="230" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">You can help!
                                                            </div>
                                                            <!-- LAYER NR. 3 -->
                                                            <div class="tp-caption large_bold_white sfb tp-resizeme" data-x="0" data-y="290" data-speed="1500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='slide_button btn btn-primary'>Join with us</a>
                                                            </div>
                                                         </li>
                                                         <!-- SLIDE  -->
                                                         <li data-transition="random-premium" data-slotamount="7" data-masterspeed="300">
                                                            <!-- MAIN IMAGE -->
                                                            <img src="/noimage.jpg" alt="slide2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                            <!-- LAYERS -->
                                                            <!-- LAYER NR. 1 -->
                                                            <div class="tp-caption large_bold_white sfl tp-resizeme" data-x="0" data-y="150" data-speed="800" data-start="500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">HELP 100 CHILDREN FOR THEIR EDUCATION
                                                            </div>
                                                            <!-- LAYER NR. 2 -->
                                                            <div class="tp-caption medium_light_white sfr tp-resizeme" data-x="0" data-y="230" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">No one has ever become poor by giving
                                                            </div>
                                                            <!-- LAYER NR. 3 -->
                                                            <div class="tp-caption medium_light_white sfb tp-resizeme" data-x="0" data-y="300" data-speed="1500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a href='#' class='slide_button btn btn-primary'>Join with us</a>
                                                            </div>
                                                         </li>
                                                      </ul>
                                                      <div class="tp-bannertimer tp-bottom" style="display:none; visibility: hidden !important;"></div>
                                                   </div>
                                                </div>
                                                <!-- END REVOLUTION SLIDER -->
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section id="lan_countdown" class="sppb-section">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-8">
                                       <div class="sppb-addon-container sppb-wow fadeInLeft">
                                          <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                                             <h3 class="sppb-addon-title">New UpComing Event</h3>
                                             <div class="sppb-addon-content">IN THE PAST YEAR, KINDNESS SUPPORTED PROGRAMS THAT SERVED OVER 700,000 CHILDREN IN 23 COUNTRIES. Every mountain top is within reach if you just keep climbing. Maecenas fermentum tristique dolor sed congue.</div>
                                          </div>
                                          <div class="sppb-empty-space  clearfix" style="margin-bottom:30px;"></div>
                                          <a target="_blank" href="#" class="sppb-btn sppb-btn-default sppb-btn-  " style="margin:0 15px 0 0;" role="button">Get Information</a><a target="_blank" href="donate.html" class="sppb-btn sppb-btn-primary sppb-btn-  " role="button">Donate Now</a>
                                       </div>
                                    </div>
                                    <div class="sppb-col-sm-4 ">
                                       <div class="sppb-addon-container sppb-wow fadeInRight">
                                          <div class="sppb-addon sppb-addon-module countdown">
                                             <h3 class="sppb-addon-title">The CountDown Begins</h3>
                                             <div class="sppb-addon-content">
                                                <div class="sp_countdown">
                                                   <div class="sp_countdown_pre_text">
                                                      <!-- Pre Text -->
                                                      Every mountain top is within reach if you just keep climbing. Phasellus dapibus ligula et aliquet ultricies. Lorem ipsum dolor sit amet. 
                                                   </div>
                                                   <div id="sp_countdown_cntdwn111" class="sp_countdown_container">
                                                      <!-- Dynamically creates timer -->
                                                   </div>
                                                   <!-- Countdown Area -->
                                                   <!-- Button -->
                                                   <div class="sp_countdown_button">
                                                      <a class="button sp_countdown_button_link" href="index.html"><span></span></a>
                                                   </div>
                                                   <div class="clear"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="sppb-section " style="padding:30px 0 0 0;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-12">
                                       <div class="sppb-addon-container sppb-wow fadeInRight">
                                          <div class="sppb-addon sppb-addon-text-block sppb-text-left lan_title">
                                             <h3 class="sppb-addon-title">Latest News</h3>
                                             <div class="sppb-addon-content"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="sppb-section" style="padding:55px 0 35px 0;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-8">
                                       <div class="sppb-addon-container sppb-wow fadeInLeft">
                                          <div class="sppb-addon sppb-addon-module ">
                                             <div class="sppb-addon-content">
                                                <div class="module">
                                                   <div class="lan_vertical_timeline">
                                                      <div class="lan_vertical_left">
                                                         <ul class="nav nav-tabs" role="tablist" id="myTab">
                                                            <li role="presentation" class="active">
                                                               <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                                                  <ul class="cbp_tmtimeline">
                                                                     <li>
                                                                        <div class="cbp_tmicon"></div>
                                                                        <div class="cbp_tmlabel">
                                                                           <h3>CHIILDREN IN CARE</h3>
                                                                           <p>Ad munere detraxit ius. Eu aliquip abhor reant mei. Pro ex fuisset.</p>
                                                                        </div>
                                                                     </li>
                                                                  </ul>
                                                               </a>
                                                            </li>
                                                            <li role="presentation">
                                                               <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                                                  <ul class="cbp_tmtimeline">
                                                                     <li>
                                                                        <div class="cbp_tmicon"></div>
                                                                        <div class="cbp_tmlabel">
                                                                           <h3>CHIILDREN IN CARE</h3>
                                                                           <p>Bd munere detraxit ius. Eu aliquip abhor reant mei. Pro ex fuisset.</p>
                                                                        </div>
                                                                     </li>
                                                                  </ul>
                                                               </a>
                                                            </li>
                                                            <li role="presentation">
                                                               <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                                                  <ul class="cbp_tmtimeline">
                                                                     <li>
                                                                        <div class="cbp_tmicon"></div>
                                                                        <div class="cbp_tmlabel">
                                                                           <h3>CHIILDREN IN CARE</h3>
                                                                           <p>Cd munere detraxit ius. Eu aliquip abhor reant mei. Pro ex fuisset.</p>
                                                                        </div>
                                                                     </li>
                                                                  </ul>
                                                               </a>
                                                            </li>
                                                            <li role="presentation">
                                                               <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                                                  <ul class="cbp_tmtimeline">
                                                                     <li>
                                                                        <div class="cbp_tmicon"></div>
                                                                        <div class="cbp_tmlabel">
                                                                           <h3>CHIILDREN IN CARE</h3>
                                                                           <p>Ed munere detraxit ius. Eu aliquip abhor reant mei. Pro ex fuisset.</p>
                                                                        </div>
                                                                     </li>
                                                                  </ul>
                                                               </a>
                                                            </li>
                                                         </ul>
                                                      </div>
                                                      <div class="lan_vertical_right tab-content">
                                                         <div role="tabpanel" class="tab-pane active" id="home">
                                                            <div class="tab_img">
                                                               <img src="http://placehold.it/508x340" alt="" />
                                                            </div>
                                                            <div class="tab_contain">
                                                               <h3>WHO THE LIFE OF THOSE HAVE NO HOPE!</h3>
                                                               <p>Sed luctus nisl a venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. In consectetur turpis quis fermentum suscipit. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus nisl a venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus. Neque elit pulvinar ipsum vestibulum.</p>
                                                               <a class="btn btn-primary" href="#">Read More</a>
                                                            </div>
                                                         </div>
                                                         <div role="tabpanel" class="tab-pane" id="profile">
                                                            <div class="tab_img">
                                                               <img src="http://placehold.it/508x340" alt="" />
                                                            </div>
                                                            <div class="tab_contain">
                                                               <h3>WHOM THE LIFE OF THOSE HAVE NO HOPE!</h3>
                                                               <p>Baby luctus nla venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. In consectetur turpis quis fermentum suscipit. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus nisl a venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus. Neque elit pulvinar ipsum the vestibulum.</p>
                                                               <a class="btn btn-primary" href="#">Read More</a>
                                                            </div>
                                                         </div>
                                                         <div role="tabpanel" class="tab-pane" id="messages">
                                                            <div class="tab_img">
                                                               <img src="http://placehold.it/508x340" alt="" />
                                                            </div>
                                                            <div class="tab_contain">
                                                               <h3>WHY THE LIFE OF THOSE HAVE NO HOPE!</h3>
                                                               <p>Sed luctus nisl a venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. In consectetur turpis quis fermentum suscipit. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus nisl a venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus. Neque elit pulvinar ipsum vestibulum.</p>
                                                               <a class="btn btn-primary" href="#">Read More</a>
                                                            </div>
                                                         </div>
                                                         <div role="tabpanel" class="tab-pane" id="settings">
                                                            <div class="tab_img">
                                                               <img src="http://placehold.it/508x340" alt="" />
                                                            </div>
                                                            <div class="tab_contain">
                                                               <h3>WHAT THE LIFE OF THOSE HAVE NO HOPE!</h3>
                                                               <p>Baby luctus nla venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. In consectetur turpis quis fermentum suscipit. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus nisl a venenatis ultrices augue lacus aliquet justo non aliquam lacus ligula nec nisl. Neque elit pulvinar ipsum vestibulum luctus. Sed luctus. Neque elit pulvinar ipsum vestibulum.</p>
                                                               <a class="btn btn-primary" href="#">Read More</a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="clear"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="sppb-col-sm-4">
                                       <div class="sppb-addon-containerlatest_news sppb-wow fadeInUp">
                                          <div class="sppb-addon sppb-addon-module ">
                                             <div class="sppb-addon-content">
                                                <div id="ns2-110" class="nssp2 ns2-110">
                                                   <div class="ns2-wrap">
                                                      <div id="ns2-art-wrap110" class="ns2-art-wrap nssp2-slide nssp2-fade nssp2-default ">
                                                         <div class="ns2-art-pages nss2-inner">
                                                            <div class="ns2-page item active">
                                                               <div class="ns2-page-inner">
                                                                  <div class="ns2-row ns2-first ns2-odd">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">09</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Maecenas be lgula molestie lobort
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Maecenas be lgula molestie lobort" title="Maecenas be lgula molestie lobort" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="ns2-row  ns2-even">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">09</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Quisque convallis orce erohasellu
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Quisque convallis orce erohasellu" title="Quisque convallis orce erohasellu" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis </p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="ns2-row  ns2-odd">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">09</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Fusce pulvinar consectetur erath
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Fusce pulvinar consectetur erath" title="Fusce pulvinar consectetur erath" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="ns2-row  ns2-even">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">09</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Nullam velitmi feugiat etarcu neeh
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Nullam velitmi feugiat etarcu neeh" title="Nullam velitmi feugiat etarcu neeh" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="clear"></div>
                                                               </div>
                                                               <!--end ns2-page-inner-->
                                                            </div>
                                                            <div class="ns2-page item">
                                                               <div class="ns2-page-inner">
                                                                  <div class="ns2-row ns2-first ns2-odd">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">21</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Praesent tempus euurna faucibus
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Praesent tempus euurna faucibus" title="Praesent tempus euurna faucibus" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="ns2-row  ns2-even">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">21</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Donec lobortis tristique temp bero
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Donec lobortis tristique temp bero" title="Donec lobortis tristique temp bero" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div style="clear:both"></div>
                                                                     </div>
                                                                     <div style="clear:both"></div>
                                                                  </div>
                                                                  <div class="ns2-row  ns2-odd">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">21</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Bounding in the Work of the Lord
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Bounding in the Work of the Lord" title="Bounding in the Work of the Lord" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="ns2-row  ns2-even">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-1">
                                                                           <div style="padding:3px 3px 3px 3px">
                                                                              <div class="ns2-inner">
                                                                                 <div class="ns2-date-blog">
                                                                                    <span class="ns2_date_day">21</span>
                                                                                    <div class="ns2_date_month_year"><span class="ns2_date_month">Mar</span><span class="ns2_date_year">2015</span></div>
                                                                                 </div>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Proin facilisis egest pellentesque																													</a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                 </div>
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 10px 0 0" src="http://placehold.it/125x90" alt="Proin facilisis egest pellentesque" title="Proin facilisis egest pellentesque" />
                                                                                 </a>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="clear"></div>
                                                               </div>
                                                               <!--end ns2-page-inner-->
                                                            </div>
                                                         </div>
                                                         <div class="clear"></div>
                                                         <div class="ns2-art-controllers">
                                                            <div class="clear"></div>
                                                         </div>
                                                         <div class="clear"></div>
                                                      </div>
                                                      <!--End article layout-->
                                                      <!--Links Layout-->
                                                      <!--End Links Layout-->
                                                      <div class="clear"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section id="lan_donate" class="sppb-section " style="padding:80px 0;color:#ffffff;background-image: url(/donate.png);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position:50% 50%;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-12">
                                       <div class="sppb-addon-container sppb-wow zoomIn">
                                          <div class="sppb-addon sppb-addon-cta">
                                             <div class="sppb-row">
                                                <div class="sppb-col-sm-8">
                                                   <h3 class="sppb-cta-title" style="color:#ffffff;">The Secret of Happy Children</h3>
                                                   <p class="sppb-cta-text">IN THE PAST YEAR, KINDNESS SUPPORTED PROGRAMS THAT SERVED OVER 700,000 CHILDREN IN 23 COUNTRIES. Every mountain top is within reach if you just keep climbing. Maecenas fermentum tristique dolor sed congue.</p>
                                                </div>
                                                <div class="sppb-col-sm-4 sppb-text-right"><a target="_blank" href="donate.html" class="sppb-btn sppb-btn-primary sppb-btn- " role="button">Donate Now</a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section class="sppb-section " style="padding:30px 0 0 0;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-12">
                                       <div class="sppb-addon-container sppb-wow fadeInRight">
                                          <div class="sppb-addon sppb-addon-text-block sppb-text-left lan_title">
                                             <h3 class="sppb-addon-title">Latest Event</h3>
                                             <div class="sppb-addon-content"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section id="lan_events" class="sppb-section" style="padding:45px 0 55px 0;">
                              <div class="sppb-container">
                                 <div class="sppb-row">
                                    <div class="sppb-col-sm-12">
                                       <div class="sppb-addon-container sppb-wow fadeInUp">
                                          <div class="sppb-addon sppb-addon-module ">
                                             <div class="sppb-addon-content">
                                                <div id="ns2-123" class="nssp2 ns2-123">
                                                   <div class="ns2-wrap">
                                                      <div id="ns2-art-wrap123" class="ns2-art-wrap nssp2-slide nssp2-default ">
                                                         <div class="ns2-art-pages nss2-inner">
                                                            <div class="ns2-page item active">
                                                               <div class="ns2-page-inner">
                                                                  <div class="ns2-row ns2-first ns2-odd">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Maecenas be lgula molestie lobort" title="Maecenas be lgula molestie lobort" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Maecenas be lgula molestie lobort
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Monday, 09 March 2015 07:53 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Quisque convallis orce erohasellu" title="Quisque convallis orce erohasellu" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Quisque convallis orce erohasellu
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Monday, 09 March 2015 07:59 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Fusce pulvinar consectetur erath" title="Fusce pulvinar consectetur erath" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Fusce pulvinar consectetur erath
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Monday, 09 March 2015 08:18 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Nullam velitmi feugiat etarcu neeh" title="Nullam velitmi feugiat etarcu neeh" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Nullam velitmi feugiat etarcu neeh
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Monday, 09 March 2015 08:18 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="clear"></div>
                                                               </div>
                                                               <!--end ns2-page-inner-->
                                                            </div>
                                                            <div class="ns2-page item">
                                                               <div class="ns2-page-inner">
                                                                  <div class="ns2-row ns2-first ns2-odd">
                                                                     <div class="ns2-row-inner">
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Praesent tempus euurna faucibus" title="Praesent tempus euurna faucibus" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Praesent tempus euurna faucibus
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Saturday, 21 March 2015 23:08 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Donec lobortis tristique temp bero" title="Donec lobortis tristique temp bero" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Donec lobortis tristique temp bero
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Saturday, 21 March 2015 23:08 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Bounding in the Work of the Lord" title="Bounding in the Work of the Lord" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Bounding in the Work of the Lord
                                                                                    </a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Saturday, 21 March 2015 23:08 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social"></div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="ns2-column flt-left col-4">
                                                                           <div style="padding:0 15px">
                                                                              <div class="ns2-inner">
                                                                                 <a href="single-page.html">
                                                                                 <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Proin facilisis egest pellentesque" title="Proin facilisis egest pellentesque" />
                                                                                 </a>
                                                                                 <h4 class="ns2-title">
                                                                                    <a href="single-page.html">
                                                                                    Proin facilisis egest pellentesque																													</a>
                                                                                 </h4>
                                                                                 <div class="ns2-tools">
                                                                                    <div class="ns2-created">
                                                                                       Saturday, 21 March 2015 23:08 
                                                                                    </div>
                                                                                 </div>
                                                                                 <p class="ns2-introtext">Integer vitae massa quis enim the euismod be malesuada. Proin congue eleifend volutpat on ipsumen erroribis</p>
                                                                                 <div class="ns2-social">
                                                                                 </div>
                                                                                 <div class="ns2-links">
                                                                                    <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                                 </div>
                                                                                 <div class="clear"></div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                                  <div class="clear"></div>
                                                               </div>
                                                               <!--end ns2-page-inner-->
                                                            </div>
                                                         </div>
                                                         <div class="clear"></div>
                                                         <div class="ns2-art-controllers">
                                                            <div class="clear"></div>
                                                         </div>
                                                         <div class="clear"></div>
                                                      </div>
                                                      <!--End article layout-->
                                                      <!--Links Layout-->
                                                      <!--End Links Layout-->
                                                      <div class="clear"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end main body -->
         <!-- start bottom area -->
         <section id="sp-bottom">
            <div class="container">
               <div class="row">
                  <!-- start about -->
                  <div id="sp-bottom1" class="col-sm-6 col-md-3">
                     <div class="sp-column ">
                        <div class="sp-module ">
                           <h3 class="sp-module-title">ABOUT CHARITY </h3>
                           <div class="sp-module-content">
                              <div class="custom">
                                 <p><img src="/noimage.jpg" alt="" />Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien utnibh.</p>
                                 <h3>Contact</h3>
                                 <p>203, Xyz Street,
                                    <br />Melbourne Australia.
                                    <br />Email : info@cheritylanding.com
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end about -->
                  <!-- start newsletter -->
                  <div id="sp-bottom4" class="col-sm-6 col-md-3">
                     <div class="sp-column ">
                        <div class="sp-module ">
                           <h3 class="sp-module-title">Subscribe</h3>
                           <div class="sp-module-content">
                              <div class="acymailing_module" >
                                 <div class="acymailing_fulldiv" >
                                    <form  action="#" onsubmit="return submitacymailingform('optin','formAcymailing38541')" method="post" name="formAcymailing38541">
                                       <div class="acymailing_module_form">
                                          <div class="acymailing_introtext">Etiam pretium quam sed lectus mollis on the elementum velit cursus. Phasellus vitaesem. Mauris vestibulum pretium quam sed lectus mollis elementum pretium quamsed.</div>
                                          <table class="acymailing_form">
                                             <tr>
                                                <td class="acyfield_email acy_requiredField">
                                                   <input  onfocus="if(this.value == 'E-mail') this.value = '';" onblur="if(this.value=='') this.value='E-mail';" class="inputbox" type="text" name="user[email]" style="width:115%" value="E-mail" title="E-mail" />
                                                </td>
                                                <td class="acysubbuttons">
                                                   <input class="button subbutton btn btn-primary" type="submit" value="Join Us" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing38541'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
                                                </td>
                                             </tr>
                                          </table>
                                          <input type="hidden" name="ajax" value="0" />
                                          <input type="hidden" name="acy_source" value="module_127" />
                                          <input type="hidden" name="ctrl" value="sub" />
                                          <input type="hidden" name="task" value="notask" />
                                          <input type="hidden" name="redirect" value="" />
                                          <input type="hidden" name="redirectunsub" value="" />
                                          <input type="hidden" name="option" value="com_acymailing" />
                                          <input type="hidden" name="hiddenlists" value="1" />
                                          <input type="hidden" name="acyformname" value="formAcymailing38541" />
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end newsletter -->
               </div>
            </div>
         </section>
         <!-- end bottom area -->
         <!-- start footer -->
         <footer id="sp-footer">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-12">
                     <div class="sp-column ">
                        <ul class="social-icons">
                           <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
                           <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- end footer -->
         <!-- Start offcanvas-menu -->
         <div class="offcanvas-menu">
            <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
            <div class="offcanvas-inner">
               <div class="sp-module">
                  <h3 class="sp-module-title">Search</h3>
                  <div class="sp-module-content">
                     <div class="search">
                        <form action="#" method="post">
                           <input name="searchword" maxlength="200" class="inputbox search-query" type="text" size="20" placeholder="Search ..." />
                           <input type="hidden" name="task" value="search" />
                           <input type="hidden" name="option" value="com_search" />
                           <input type="hidden" name="Itemid" value="437" />
                        </form>
                     </div>
                  </div>
               </div>
               <div class="sp-module">
                  <div class="sp-module-content">
                     <ul class="nav menu">
                        <li class="current active deeper parent">
                           <a href="index-2.html">Home</a>
                           <ul class="nav-child unstyled small">
                              <li><a href="business.html">Business  View</a></li>
                              <li><a href="corporate.html">Corporate View</a></li>
                              <li><a href="creative.html">Creative View</a></li>
                           </ul>
                        </li>
                        <li><a href="project.html">News</a></li>
                        <li><a href="donate.html">About</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!-- End offcanvas-menu -->
      </div>
      <!-- main js library -->
     
       <%= yield %>
   </body>
</html>